<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: space-evenly; margin: 10px 0;">
    <ion-button (click)="navigateTo('tab3')"><ion-icon name="chevron-back-outline"></ion-icon>OMDb API</ion-button>
    <ion-button (click)="navigateTo('tab1')">Apresentação<ion-icon
        name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
  <div id="container">
    <ion-card>
      <img src="..\assets\img\Winner.png"/>
      <ion-card-header>
        <ion-card-title>Winner Alex</ion-card-title>
        <ion-card-subtitle>Análise e Desenvolvimento de Sistemas</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>