<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora II
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: space-evenly; margin: 10px 0;">
    <ion-button (click)="navigateTo('tab2')"><ion-icon name="chevron-back-outline"></ion-icon>Aluno</ion-button>
    <ion-button (click)="navigateTo('tab3')">OMDb API<ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </div>

  <div id="container">
    <strong>Apresentação</strong>
    <p>Desenvolver uma aplicação IONIC que possua link de navegação para 2 outras páginas e que possua uma API.</p>
    <p>A API escolhida retorna a capa e sinopse de um filme solicitado.</p>
  </div>
</ion-content>
