<ion-header>
  <ion-toolbar>
    <ion-title>OMDb API</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: space-evenly; margin: 10px 0;">
    <ion-button (click)="navigateTo('tab1')"><ion-icon name="chevron-back-outline"></ion-icon>Apresentação</ion-button>
    <ion-button (click)="navigateTo('tab2')">Aluno<ion-icon name="chevron-forward-outline"></ion-icon></ion-button>
  </div>
  <ion-item>
    <ion-label position="floating">Digite o nome de um filme</ion-label>
    <ion-input [(ngModel)]="movieTitle" placeholder="Nome do filme"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="searchMovie(movieTitle)">
    Buscar Filme
  </ion-button>

  <ion-card *ngIf="movieData">
    <img [src]="movieData.Poster" alt="Poster do Filme" />
    <ion-card-header>
      <ion-card-title>{{ movieData.Title }}</ion-card-title>
      <ion-card-subtitle>{{ movieData.Year }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movieData.Plot }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="errorMessage">
    <ion-label>{{ errorMessage }}</ion-label>
  </ion-item>
</ion-content>
